@tailwind base;
@tailwind components;
@tailwind utilities;
.bg{
    background: rgba(113,160,236,0.07);
    /* padding-bottom: -0px; */
}
#dark_h2 {
    font-size: 25px;
    color: #00053d;
    font-weight: 600;
  }
  
  #box_container:hover #light_h2{
    color: #007aff;
  }
  .custom-carousel .slick-prev,
  .custom-carousel .slick-next {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: black; /* Change arrow color */
    z-index: 1;
  }
  
  .custom-carousel .slick-prev::before,
  .custom-carousel .slick-next::before {
    font-size: 20px; /* Change the size of the arrow */
    color: white; /* Change the color of the arrow icon */
  }
  
  .custom-carousel .slick-prev:hover,
  .custom-carousel .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Change background color on hover */
  }